.color-menu {
  height: 100%;
  position: relative;
}

.spectrum-image-container {
  height: 100%;
  margin: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 5px 10px rgb(147, 60, 187);
}

img {
  height: 85%;
  width: 98%;
  margin: 15px;
  border-radius: 15px;
}

ul {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  padding: 0;
  bottom: 0;
  justify-content: space-evenly;
  left: 0;
  list-style-type: none;
  z-index: 1;
}

li {
  height: 100%;
  flex-grow: 1;
}