h1 {
  font-family: 'Libre Baskerville', serif;
  color: rgb(255, 255, 255);
  margin-left: 10%;
  margin-top: 0;
  margin-bottom: 0%;
  text-shadow: 2px 2px rgb(35, 35, 199);
}

.main-title {
  display: flex;
  width: 150px;
  height: 150px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: rgb(255, 99, 71);
  border-radius: 50%;
  box-shadow: 5px 10px rgb(147, 60, 187);
}

.main-body {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

app-color-tv {
  flex-grow: 1;
  height: 50%;
}

color-menu {
  height: 50%;
  flex-grow: 1;
}