<div class="tv-container">
  <div class="screen">
  </div>
  <div class="history">
    <h2> Color DVR</h2>
    <div>RAINBOW TV</div>
    <div
      *ngFor="let color of colors"
      class="channel">
      {{color}} TV
    </div>
    <div class="channel">red channel</div>
    <div class="channel"> pink channel</div>
    <div class="channel"> blue channel</div>
    <div class="channel">cyan channel</div>
    <div class="channel">lime channel</div>
    <div class="channel">green channel</div>
    <div class="channel">yellow channel</div>
    <div class="channel">tangerine channel</div>
    <div class="channel">orange channel</div>
  </div>
</div>
